<% content_for :sitemap do %>
  <span class="current"><%= t('plugin.opensource_project') %></span>
<% end %>
<div class="well">
<a href="<%= upcoming_admin_opensource_projects_path %>" data-turbolinks-action="replace">
  <i class="fa fa-newspaper-o"></i> 待审核列表...
</a>
</div>
<table class="table table-bordered table-striped table-condensed">
<tr>
  <th>#</th>
  <th>状态</th>
  <th>标题</th>
  <th>提交人</th>
  <th>更新时间</th>
  <th style="width:100px"></th>
</tr>
<% @opensource_projects.each do |opensource_project| %>
<tr class="post <%= 'deleted' if !opensource_project.deleted_at.blank? %>">
  <td><%= opensource_project.id %></td>
  <td><%= opensource_project.status %></td>
  <td class="title"><%= link_to opensource_project.title, opensource_project %></td>
  <td class="author"><%= user_name_tag(opensource_project.user) %></td>
  <td class="time"><%= l opensource_project.updated_at, format: :long %></td>
  <td>

    <% if opensource_project.deleted_at.blank? %>
      <%= link_to "", admin_opensource_project_path(opensource_project), 'data-confirm' => 'Are you sure?', method: :delete, class: "fa fa-trash" %>
    <% else %>
      <%= link_to "", undestroy_admin_opensource_project_path(opensource_project), title: t("common.undelete"), 'data-confirm' => 'Are you sure?', method: :post, class: "fa fa-undo" %>
    <% end %>
  </td>
</tr>
<% end %>
</table>

<%= paginate @opensource_projects %>
